* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Itim;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./gifs/24556337690477.5748a81479054.jpg") no-repeat;
  background-size: cover;
}

/*Main Window*/
#main-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#game {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 1000px;
  width: 50vw;
  min-width: 45rem;
  transform: rotateY("0deg");
}

#live-score {
  display: none;
  font-size: 2rem;
  text-align: center;
  border-style: solid;
  width: 2.5rem;
  height: 2.75rem;
}

#main-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

option {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

#start {
  background: linear-gradient(#20bf55, #01baef);
  border-radius: 10px;
  font-size: 2.5rem;
  width: 15rem;
}

#main-menu label {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

#select-difficulty {
  background: linear-gradient(#20bf55, #01baef);

  border-radius: 10px;
  width: 15rem;
  font-size: 2.5rem;
}

#menu {
  background: linear-gradient(#20bf55, #01baef);
  display: none;
  margin-top: 10px;
  font-size: 2rem;
  border-radius: 10px;
  width: 10rem;
}

#restart {
  background: linear-gradient(#20bf55, #01baef);
  display: none;
  margin: 10px 10px;
  font-size: 2rem;
  border-radius: 10px;
  width: 10rem;
}

#confirm {
  display: flex;
  font-size: 1.75rem;
  width: 25vw;
  justify-content: space-around;
  align-items: center;
}

#confirm button {
  background: linear-gradient(#20bf55, #01baef);
  font-size: 1.75rem;
  width: 3.5rem;
  border-radius: 10px;
}

#score {
  display: none;
  font-size: 3rem;
  text-align: center;
}

.card {
  border: 1px solid black;
  height: 200px;
  width: 15%;
  min-width: 200px;
  margin: 10px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
}

.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 1px;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

@media all and (max-width: 700px) {
  body {
    overflow-y: hidden;
  }

  .card {
    width: auto;
    min-width: 10vw;
    height: 10vh;
  }

  h1 {
    text-align: center;
    font-size: 5rem;
  }

  #main-menu label {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  #start {
    border-radius: 10px;
    font-size: 2.5rem;
    width: 17.5rem;
  }

  #select-difficulty {
    border-radius: 10px;
    width: 17.5rem;
    font-size: 2.5rem;
  }

  #menu {
    font-size: 1.25rem;
  }

  #restart {
    font-size: 1.25rem;
  }

  #main-window {
    height: 100vh;
  }

  #game {
    min-width: 0;
    width: 100vw;
    padding-bottom: 75px;
  }

  #confirm {
    width: 50vw;
  }

  #confirm,
  #confirm button {
    font-size: 1.25rem;
  }
}

@media all and (max-width: 420px) {
  .card {
    width: 15vw;
    height: 10vh;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
  }

  #main-menu label {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  body {
    overflow-y: hidden;
  }

  #start {
    border-radius: 10px;
    font-size: 2rem;
    width: 15rem;
  }

  #select-difficulty {
    border-radius: 10px;
    width: 15rem;
    font-size: 2rem;
  }

  #main-window {
    height: 100vh;
  }

  #game {
    gap: 0;
    min-width: 100vw;
  }

  #confirm {
    width: 100vw;
    margin-bottom: 20px;
  }

  #confirm,
  #confirm button {
    font-size: 1rem;
  }
}
